body{
	margin: 0;
	background-color: #f4f4f4;
	font-family: verdana;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	
}
/*Global*/
.container{
	width: 80%;
	margin: 0 auto;
	padding: 0;	
	overflow: hidden;
}
.clr{
	clear: both;
}
/*Header*/
header{
	background-color: #35424D;
	color: white;
	min-height: 100px;
	border-bottom: red 3px solid;

}
.branding {
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 35px;
	padding-bottom: 5px;
}
.branding #marker{
	color: orangered;
}
nav{
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	color: #fff;
}
.my-list{
	margin-top: 35px;
	text-transform: uppercase;
}
nav li{
	padding: 0px 10px;
	
}
nav a:hover{
	color: orangered;
	
}

#current{
	color: orangered;
	
}
/*--Section--*/
#showcase{
	min-height: 400px;
	width: 100%;
	background: url('showcase.jpg');
	padding-top: 0px;
	border: 1px solid #fff;
	background-position: 0 -400px;
	border: none;
}

.main h1{
	text-align: center;
	margin-top: 100px;
	color: #fff;
	font-weight: bold;
	font-size: 50px;
	
}
.main p{
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.boxes{
	margin-top: 20px;
	
	
}
.box{
	float: left;
	width: 32%;
	margin: 0 5px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}
.box img{
	width: 80px;
	height: auto;
}
.newsletter{
	min-height: 100px;
	background-color: #35424A;
	color: #fff;
}
.newsletter h1{
	float: left;
	margin-top: 34px;
}
.newsletter form{
	float: right;
	margin-top: 33px;
}
.newsletter form Input[type=text]{
	width: 240px;
	height: 30px;
}
.button-1{
	background: #E8491D;
	color: #fff;
	border: none;
	width: 100px;
	height: 35px;
	margin: 0;
	padding: 0;
}
.button-1:hover{
	font-weight: bold;

}
footer{
	height: 80px;
	background-color: #E8491D;
	text-align: center;
	color: #fff;
}
footer p{
	margin-top: 25px;
}

/*--For responsive design*/
@media(max-width:768px){
	.main h1{
		line-height: 1em;
	}
	.newsletter{
		padding: 10px;
	}
	.newsletter h1{
		float: none;
		width: 100%;
	}
	.newsletter form{
		float: none;
		width: 100%;
	}
	.box{
		float: none;
		width: 100%;
	}
	.branding {
		float: none
	}
	nav{
		float: none;
	}
	nav li{
		display: block;
	}
	.button-1{
		margin-top: 5px;
	}
}